@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @apply text-customDark;
}

.hamburger-toggler {
  z-index: 50;
  height: 48px;
  width: 48px;
  opacity: 0;

  @apply top-0 left-0 cursor-pointer absolute;
}

.hamburger-lines {
  @apply h-12 w-12 cursor-pointer flex justify-center items-center;
}

/* middle */
.hamburger-lines > div {
  z-index: 60;
  position: relative;
  top: 0;
  left: 0;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

/* top and bottom lines */
.hamburger-lines > div::before,
.hamburger-lines > div::after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

.hamburger-lines > div::after {
  top: 10px;
  @apply bg-customDark;
}

/* top and middle lines  */

.open.hamburger-lines > div {
  background: rgba(0, 0, 0, 0);
}

.open.hamburger-lines > div::before {
  top: 0;
  transform: rotate(45deg);
}

/* rotating bottom line  */

.open.hamburger-lines > div::after {
  top: 0;
  transform: rotate(135deg);
}

.mobile-menu {
  top: 0;
  z-index: 40;
  position: absolute;
  background: white;
  width: 0%;
  height: 100vh;

  /* applyin transition on the menu */

  transition: all 0.4s ease;
}

/* when toggled */
.open.mobile-menu {
  width: 100%;
}

/* hide mobile menu item */
.mobile-menu-item {
  visibility: hidden;
}

/* show mobile menu item */
.open.mobile-menu .mobile-menu-item {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

@layer base {
  h1,
  h2 {
    @apply text-xl text-customDark font-customHeader uppercase font-semibold tracking-wider;
  }
}
