@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');
@font-face {
  font-family: 'Futura PT';
  src: url('/public/fonts/FuturaPTBook.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hamburger-toggler {
  height: 48px;
  width: 48px;

  @apply top-0 left-0 cursor-pointer absolute opacity-0 z-50;
}

.hamburger-lines {
  @apply h-12 w-12 cursor-pointer flex items-center;
}

/* middle */
.hamburger-lines > div {
  z-index: 60;
  position: relative;
  top: 0;
  left: 0;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

/* top and bottom lines */
.hamburger-lines > div::before,
.hamburger-lines > div::after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

.hamburger-lines > div::after {
  top: 10px;
  @apply bg-customDark;
}

/* top and middle lines  */
.open.hamburger-lines > div {
  background: rgba(0, 0, 0, 0);
}

.open.hamburger-lines > div::before {
  top: 0;
  transform: rotate(45deg);
}

/* rotating bottom line  */
.open.hamburger-lines > div::after {
  top: 0;
  transform: rotate(135deg);
}

.mobile-menu {
  top: 0;
  z-index: 40;
  position: absolute;
  background: white;
  width: 0%;
  height: 100vh;

  /* applying transition on the menu */
  transition: all 0.4s ease;
}

/* when toggled */
.open.mobile-menu {
  width: 100%;
}

/* hide mobile menu item */
.mobile-menu-item {
  visibility: hidden;
}

/* show mobile menu item */
.open.mobile-menu .mobile-menu-item {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-custom-navigation.swiper-button-disabled,
.swiper-custom-navigation.swiper-button-disabled:hover {
  @apply border-customLightGray text-customLightGray bg-white;
}

.swiper-custom-navigation {
  @apply flex border transition-all duration-200 border-customDark rounded-full w-6 h-6 justify-center items-center;
}

.swiper-custom-navigation:hover {
  @apply text-customWhite bg-customDark;
}

/* base style alter */
@layer base {
  html {
    @apply text-customDark font-customSecondary;
  }
  h1,
  h2 {
    @apply text-xl text-customDark font-customPrimary uppercase font-semibold tracking-wider;
  }
  a {
    @apply transition-all duration-150 hover:text-customLightGray;
  }
  p {
    @apply text-customDarkGray;
  }
}
