@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @apply text-customDark;
}

.hamburger-toggler {
  z-index: 50;
  height: 48px;
  width: 48px;
  opacity: 0;

  @apply -top-2 left-0 cursor-pointer absolute flex justify-center;
}

.hamburger-lines {
  z-index: 60;
  @apply h-12 w-12 top-4 left-0 cursor-pointer absolute flex justify-center;
}

/* THE MIDDLE LINE OF THE HAMBURGER : */
.hamburger-lines > div {
  position: relative;
  top: 0;
  left: 0;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
.hamburger-lines > div::before,
.hamburger-lines > div::after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
  @apply bg-customDark;
}

.hamburger-lines > div::after {
  top: 10px;
  @apply bg-customDark;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.open.hamburger-lines > div {
  background: rgba(0, 0, 0, 0);
}

.open.hamburger-lines > div::before {
  top: 0;
  transform: rotate(45deg);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.open.hamburger-lines > div::after {
  top: 0;
  transform: rotate(135deg);
}

.mobile-menu {
  top: 0;
  z-index: 40;
  position: absolute;
  background: white;
  width: 0%;
  height: 100vh;

  /* APPLYING TRANSITION TO THE MENU :  */

  transition: all 0.4s ease;
}

.mobile-menu-item {
  visibility: hidden;
}

.open.mobile-menu .mobile-menu-item {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.open.mobile-menu {
  width: 100%;
}

@layer base {
  h1,
  h2 {
    @apply text-xl text-customDark font-customHeader uppercase font-semibold tracking-wider;
  }
}
